.Card__title{
    display: flex;
    justify-content: space-between;
}

.Icon__favorite{
    font-size: 30px;
    cursor: pointer;
}

.vsplit-body{
    display: flex;
    flex-direction: row;
}


.vsplit-left{
width: 35%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding-right: 1.5rem;
}
.vsplit-right{
    flex: 1;
}

.vsplit-right svg{
    height: 100%;
    width: 100%;
}

.trend-labels{
    font-size: 0.8rem;
}